#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
#cdrom
# Use network installation
url --url="http://mirror.zetup.net/CentOS/7/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=static --device=enp2s0 --gateway=192.168.10.254 --ip=192.168.10.4 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --device=lo --hostname=serverNAS.workgroup

# Root password
rootpw --iscrypted $6$ItHhuc4Wquq25jPz$BHybN9fYyYqUVEK9qTVPHvatE/30q04s7yWv5ta3L5G6LplC5XeRrQiFqK4bDLZ2IUZx3LycCI9.PQegC.MP0.
# System timezone
timezone Europe/Paris --isUtc
user --groups=wheel --name=zaraki --password=$6$F7MMqf26WvxPlvcH$Xgmg6mUTGaL3W.lrAxRzNhWYGDc98mKp6NA8oErfro7e3yIX2jvyKTcBDaDV1KhyC1Nv4rFE2wtL58dqN.H1b1 --iscrypted --gecos="zaraki"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda


%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
